body{
    font-family: 'Merienda One';font-size: 18px;
	text-align: center;
}

h1{
    font-family: 'Merienda One';font-size: 35px;
	font-weight: bold; 
	font-style: normal; 
}

#board{
	margin-left: auto;
    margin-right: auto;
    background-color:whitesmoke;
}

.square{
	width: 54px;
	height: 54px;
	background-color: #004d00;
}

.piece {
    width: 48px;
    height: 48px;
    padding: 2px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; 
}

.white{
	background-color: white;
}

.black{
	background-color: black;
}

.button {
  position: relative;
  background-color: #004d00;
  border: none;
  font-size: 20px;
  color: #FFFFFF;
  padding: 10px;
  width: 150px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.button:after {
  content: "";
  background: #90EE90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}